<a [routerLink]="['add']">Ajouter</a>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.person.firstName }} {{ student.person.lastName }}</td>
            <td>{{ student.person.email }}</td>
            <td>{{ student.person.phone }}</td>
            <td>{{ student.person.address.road }}</td>
            <td><a [routerLink]="['edit',  student._id]">Modifier</a></td>
        </tr>
    </tbody>
</table>