<a href="/admin/students/add">Ajouter</a>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.person.firstName }} {{ student.person.lastName }}</td>
            <td>{{ student.person.email }}</td>
            <td>{{ student.person.phone }}</td>
            <td>{{ student.person.address.road }}</td>
            <td><a href="/admin/students/edit/{{ student._id }}">Modifier</a></td>
        </tr>
    </tbody>
</table>